TOKEN="<LONG LASTING TOKEN GENEREATED IN HOME ASSISTANT PROFILE PAGE>"
HA_URL="<FULL URL (AND PORT?) TO HOME ASSISTANT >"
DASH_URL="<URL TO DASHBOARD AND PORT (5050). PROBABLY YOUR MACHINES HOSTNAME eg. pi.local:5050>"